@font-face {
  font-family: 'Roboto_Light';
  src: url('./fonts/roboto/Roboto-Light.woff2') format('woff2'), url('./fonts/roboto/Roboto-Light.woff') format('woff');
}

@font-face {
  font-family: 'Roboto_Regular';
  src: url('./fonts/roboto/Roboto-Regular.woff2') format('woff2'), url('./fonts/roboto/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto_RegularItalic';
  src: url('./fonts/roboto/Roboto-RegularItalic.woff2') format('woff2'), url('./fonts/roboto/Roboto-RegularItalic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto_Medium';
  src: url('./fonts/roboto/Roboto-Medium.woff2') format('woff2'), url('./fonts/roboto/Roboto-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto_Bold';
  src: url('./fonts/roboto/Roboto-Bold.woff2') format('woff2'), url('./fonts/roboto/Roboto-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Roboto_Black';
  src: url('./fonts/roboto/Roboto-Black.woff2') format('woff2'), url('./fonts/roboto/Roboto-Black.woff') format('woff');
}
