$primary-color: #16c1c3;
$secondary-color: #4ede91;
$third-color: #825ae8;
$fourth-color: #ea4683;
$fifth-color: #f8be22;
$friday-color: #2d2d2d;
$seventh-color: #888888;
$eighth-color: #e5e5e5;
$ninth-color: white;
$tenth-color: #808080;
$eleventh-color: #f95353;