@import '../../../Styles/variables.scss';

.section-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 75px);
}

.login {
  &__title {
    font-size: 1.4rem;
  }
}