@import '../../../Styles/variables.scss';

.income__report {
  display: flex;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .4s ease-in-out;

  .animate-spin {
    font-size: 3rem;
    color: white;
  }
}

@media only screen and (min-width: 900px) {
  .income__report {
    flex-direction: row;

    &-table {
      width: 75%;
      margin-right: 2%;
    }

    &-chart {
      width: 25%;
      min-width: 310px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .income__report {
    flex-direction: column;

    &-chart {
      margin: 30px auto 0;
      width: 80%;
    }
  }
}