@import '../../../Styles/variables.scss';

.modal-form {
  position: fixed;
  background-color: rgba(0, 0, 0, .8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-in-out;

  &.modal-form__active {
    z-index: 1;
    opacity: 1;
    visibility: visible;
  }
}

.form {
  padding: 1.5rem;
  width: 380px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background-color: $ninth-color;
  border-radius: 2px;
}

.input-group {
  position: relative;
  margin-bottom: 1rem;

  &__button {
    display: flex;
    justify-content: flex-end;

    .btn:last-child {
      margin-left: 10px;
    }
  }
}