@import '../../../Styles/variables.scss';

.section-income {
  padding: 1.5rem;
}

.income__header {
  &-title {
    font-size: 2rem;
    text-align: center;
    font-family: "Roboto_Light";
    color: $friday-color;
    text-align: left;
    margin-bottom: 1.5rem;
  }

  .btn {
    margin-left: auto;
  }
}

@media only screen and (min-width: 900px) {
  .income__header {
    display: flex;
  }
}

@media only screen and (max-width: 900px) {
  .section-income {
    padding-top: 6rem;
  }

  .income__header {
    margin-bottom: 1rem;

    &-title {
      font-size: 1.5rem;
      margin-bottom: .5rem;
    }
  }
}